<section [ngClass]="{'fade-in': isLoaded }">
    <article>
        <p>
            Hello! My name is Lis Vesurai. I am an experienced UX Engineer / Front End Developer with a great eye for design who knows how to write clean, clear, and efficient code. Expert in HTML/CSS. Familiar with vanilla JavaScript, jQuery, and Angular 2+. Well versed in responsive websites, Storybook design system and multiple CMS systems.
        </p>
        
        <p>
            I live in the San Francisco Bay Area, California. When I am not coding, I enjoy spending time with my family, drawing SketchUp 3D models, and building furniture.
        </p>
    </article>
</section>
